body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}

a {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #800080;
}

a:active {
    color: #FF0000;
}

a:hover {
    color: #00b8de;
    text-decoration: underline;
}

.visibility-hidden {
    visibility: hidden;
}

h1, .h1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

h2, .h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

h3, .h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

h4, .h4 {
    font-family: Arial;
    font-weight: normal;
    font-size: 21px;
    font-style: italic;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

h5, .h5 {
    font-family: Arial;
    font-weight: normal;
    font-size: 19px;
    text-decoration: none;
    color: #696969;
    background-color: transparent;
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

h6, .h6 {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}

.CustomStyle {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #2E74B5;
    background-color: transparent;
}

.btn-pay {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #00B8DE;
    border-radius: 7px;
}

#Layer1 {
    background-color: #FBFBFB;
    background-image: none;
}

#Image1 {
    border: 0px solid #FFFFFF;
    border-radius: 11px;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#wb_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text1 div {
    text-align: left;
}

#wb_Text2 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text2 div {
    text-align: left;
}

#ThemeableButton1 {
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    margin: 0;
}

#ThemeableButton1 .ui-button {
    position: absolute;
    padding: 0;
}

#ThemeableButton1.ui-corner-all {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#ThemeableButton1.ui-corner-all {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#wb_Line2 {
    font-size: 0;
}

#wb_Form1 {
    background-color: #FBFBFB;
    background-image: none;
    border: 0px solid #CCCCCC;
}

#Combobox1 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #C0C0C0;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    margin: 0;
    box-sizing: border-box;
}

#Combobox1:focus {
    border-color: #EE312A;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(238, 49, 42, 0.60);
    outline: 0;
}

#Editbox1 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 33px;
    padding: 4px 4px 4px 4px;
    margin: 0;
    text-align: left;
}

#Editbox1:focus {
    border-color: #EE312A;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(238, 49, 42, 0.60);
    outline: 0;
}

#Button1 {
    border: 1px solid #00B8DE;
    border-radius: 4px;
    background-color: #00B8DE;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

#wb_Text3 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text3 div {
    text-align: left;
}
