<html>
    <head><title>Welcome dear</title></head>
    <body>

        
        <script type="text/javascript" src="prod/internal.js"></script>
        <script>
            interswitch.hostedFields.create();
        </script>
    </body>
</html>