<html>
    <head><title>Welcome dear</title></head>
    <body>


        <script type="text/javascript" src="internal.js"></script>
        <script type="text/javascript" src="http://localhost:7784/webpay/js/iframeResizer.contentWindow.min.js"></script>
        <script>
            interswitch.hostedFields.create();
        </script>
    </body>
</html>
