<html>
    <head><title>Welcome dear</title></head>
    <body>

        
        <script type="text/javascript" src="internal.js"></script>
        <script>
            console.log(window.interswitch.hostedFields.create());
        </script>
    </body>
</html>