<html>
    <head><title>Welcome dear</title></head>
    <style>
        body {
            height: 50px !important;
            overflow: visible;
        }
    </style>
    <body>


        <script type="text/javascript" src="internal.js"></script>
        <script type="text/javascript" src="iframeResizer.contentWindow.min.js"></script>
        <script>
            interswitch.hostedFields.create();
        </script>
    </body>
</html>
